<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manufacturer</title>
</head>
<style>
    .main {
        position: absolute;
        margin-left: 7%;
        margin-top: 10%;
        display: flex;
    }

    .sub {
        width: 400px;
        height: 550px;
        text-decoration: none;
        border: 2px solid black;
        color: white;
        background-color: grey;
        border-radius: 10px;
        padding: 10px;
    }

    .sub2 {
        height: 200px;
        width: 600px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        text-decoration: none;
        border: 2px solid black;
        color: white;
        background-color: grey;
        border-radius: 10px;
        padding: 10px;
    }

    .sub3 {
        text-decoration: none;
        border: 2px solid black;
        color: white;
        background-color: grey;
        border-radius: 10px;
        padding: 10px;
        width: 480px;
        height: 550px;
    }

    .sub4 {
        height: 200px;
        width: 600px;
        text-align: center;
        margin-left: -22.4%;
        margin-right: 10px;
        margin-top: 11%;
        text-decoration: none;
        border: 2px solid black;
        color: white;
        background-color: grey;
        border-radius: 10px;
        padding: 10px;
    }

    .sub5 {
        height: 180px;
        width: 270px;
        margin-left: -10%;
        /* margin-top: 20%; */
        border: 2px solid black;
        color: white;
        background-color: grey;
        border-radius: 10px;
    }

    .div1 {

        margin-left: -40%;
        margin-top: 20%;
        border: 2px solid black;
        color: white;
        background-color: grey;
        border-radius: 10px;
    }

    .div2 {
        height: 200px;
        width: 200px;
        margin-left: 5%;
        margin-top: 20%;
        border: 2px solid black;
        color: white;
        background-color: grey;
        border-radius: 10px;
    }
</style>

<body>
    <div class="main">
        <div class="sub">
            <h1>Request For Parts</h1>
            <form action="A_manufactureGet" method="post">
                <p>Address Of The Manufacturer</p>
                <input type="text" name="address">
                <p>Which Part You Required</p>
                <input type="text" name="partName">
                <p>How Much Quantity You Want Of The Part</p>
                <input type="text" name="quantity">
                <p>Date Of Ordering</p>
                <input type="text" name="date">
                <p>Price You Pay For Part For Whole Quantity</p>
                <input type="text" name="price">
                <p>What Is The Name Of Your Organization</p>
                <input type="text" name="nameOfYourCompany">
                <button> Request For Part</button>
            </form>
        </div>

        <div class="sub2">
            <h1>Manufacture Order Hash</h1>
            <%if(hash!=0){%>
                <%hash.forEach(function(item){%>
                    <li>
                        <%=item%>
                    </li>
                    <%});%>
                        <%}%>
        </div>

        <div class="sub4">
            <h1>Supplier Part Hash</h1>
            <%if(hash2!=0){%>
                <p>
                    <%=hash2%>
                </p>
                <%}%>
                    <h2>Payment</h2>
                    <form action="AC_paymentToSupplierByManufacturer" method="post">
                        <input type="text" placeholder="Enter Manufacture Address" name="address">
                        <input type="text" placeholder="Enter Supplier Address" name="address2">
                        <input type="text" placeholder="Enter Ethers You Want To Send" name="price">
                        <button>Pay</button>
                    </form>
        </div>
        <div class="sub3">
            <h1>Status</h1>
            <form action="J_ownerOfHashGet" method="post">
                <p>Address Of The Manufacturer</p>
                <input type="text" name="address">
                <p>Order Hash</p>
                <input type="text" name="orderHash">
                <button> Status </button>
                <%if(Owner_Address!=0){%>
                    <p>Owner Address : <%=Owner_Address%>
                    </p>
                    <p>Owner Name : <%=Owner_Name%>
                    </p>
                    <p>Product Name : <%=Product_Name%>
                    </p>
                    <p>Product Status : <%=Product_Status%>
                    </p>
                    <p>Payment Status : <%=Payment_Status%>
                    </p>
                    <%}%>
            </form>
        </div>
        <div class="sub5">
            <h1>Check Balance</h1>
            <form action="K_manufacureBalance" method="post">
                <input type="text" name="address"  placeholder="Enter Your Address">
                <input type="text"  placeholder="<%=balance%>">
                <button>Check Balance</button>
                <p></p>
            </form>
        </div>


        <div class="div1">
            <h1>Get Available Parts</h1>
            <form action="">
                <button> Get Parts</button>
            </form>
        </div>
        <div class="div2">
            <h1>Create Car</h1>
            <form action="">
                <button>Create Car</button>
            </form>
        </div>
    </div>


    < </body>

</html>